<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Chat App</title>
    <link rel="stylesheet" href="index.css" >
</head>
<body>
    <button class="create-room" onClick="createRoom()">Create New Room</button>
    <script>
        function createRoom() {
            const origin = window.location.origin;
            window.location = `${origin}/room`;
        }
    </script>
</body>
</html>